doctype html
html
  head
    title=typeof title == 'undefined' ? 'New Sails App' : title
    // Viewport mobile tag for sensible mobile support
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    // STYLES
    link(rel='stylesheet', href='/styles/main.css')
    // STYLES END
  body
    include partials/navbar.pug
    .container
      block content
      include partials/footer.pug
